@import url('../assets/layout/styles/layout.scss');
@import url('../styles/layout.scss'); 
    

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background: var(--surface-ground);
}
