.text-300 {
  color: var(--surface-300) !important;
}

.focus\:text-300:focus {
  color: var(--surface-300) !important;
}

.hover\:text-300:hover {
  color: var(--surface-300) !important;
}

.active\:text-300:active {
  color: var(--surface-300) !important;
}

.text-primary-500 {
  color: var(--primary-500) !important;
}
