spring:
  application:
    name: module-api
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce
    username: postgres
    password: xbt20o19A
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect


server:
  port: 8000