/* src/styles/main.scss */

/* Load everything through the index module */
@use 'index';

.p-chart {
  height: 100% !important;
  min-height: 100% !important;
}
.p-chart canvas {
  height: 100% !important;
}
